* {
  margin: 0;
  padding: 0;
}
.global {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.global_inner {
  width: 1000px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  background-color: #ffd663;
  position: relative;
  border: 2px solid #92cbdc;
}
.global_inner::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(50.5%) translateY(50.5%) rotate(45deg);
  width: 200px;
  height: 200px;
  background: #fff;
  border-left: 2px solid #92cbdc;
  z-index: 10;
}
