.home {
  border: 2px solid #92cbdc;
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.home_Link {
  text-decoration: none;
  font-size: 30px;
  color: #95a7af;
  transition: 0.3s ease-in-out all;
}
.home_Link:hover {
  color: black;
  scale: 1.2;
}
