.NavBar_inner {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out all;
}
.NavBar_Link {
  position: relative;
  text-decoration: none;
  margin: auto;
  font-size: 20px;
  transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: #fbe09b;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #92cbdc;
  border-top: none;
  border-left: none;
}
.NavBar_Link:nth-child(4) {
  border-right: none;
}
.NavBar_Link span {
  transition: 0.2s ease-in-out all;
  color: #95a7af;
}
.NavBar_Link span:hover {
  color: black;
  scale: 1.2;
}
